#principal{
    color: orange;
}

h1{
    color: fuchsia;
}

.titre{
    color: red;
}

@keyframes ghost_animation {
    0%{
        transform: translate(0,0);
    }
    25%{
        transform: translate(50px,-50px);
    }
    50%{
        transform: translate(50px,50px);
    }
    75%{
        transform: translate(100px,50px);
    }
    to{
        transform: translate(0,0);
    }

}

#ghost{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
    position: absolute;
    border-radius: 50%;
    animation: ghost_animation 3s infinite;
}

@keyframes tracking-out-expand {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      opacity: 0;
    }
  }

#ben{
    /* position: absolute; */
    text-align: center;
    color: red;
    font-size: 100px;
    animation: tracking-out-expand 3s infinite;


}

@keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }

#coco{
    animation: swing-in-top-fwd 3s infinite;
    animation-delay: .5s;
    position: absolute;
    top: 30rem;
    left: 36%;
    
}